{
  "instances": [
    {
      "name": "pcc-agent",
      "darwinInitOverrides": {
        "local-host-name": "pcc-agent",
        "secure-config": {
          "com.apple.cloudos.PCCAgentKit.RemoteTools": "PIRTool",
          "com.apple.cloudboard.skipMultiAppValidations": true
        }
      },
      "release": "REPLACE_WITH_PCC_AGENT_RELEASE_INDEX"
    },
    {
      "name": "pcc-agent-worker",
      "darwinInitOverrides": {
        "local-host-name": "pcc-agent-worker",
        "preferences": [
          {
            "application_id": "com.apple.cloudos.cb_jobhelper",
            "key": "EnablePIR",
            "value": true
          }
        ],
        "secure-config": {
          "com.apple.cloudboard.cb_bridged.pirService.serviceURL": "http://192.168.64.1:5555"
        }
      },
      "release": "REPLACE_WITH_PCC_AGENT_WORKER_RELEASE_INDEX"
    }
  ]
}
